.Chart {
    display: flex;
    padding-top: 20px;
    font-size: 12px;

    .gradeAndBar {
        display: flex;
        flex-direction: column;
    }

    .chartBarsWrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 100px;
        align-items: flex-end;
        padding-left: 5px;
        margin-top: 10px;
    }

    .values {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .chartGrades {
        display: flex;
        flex-direction: row;
    }

    .gradeValue {
        width: 25px;
        text-align: center;
    }

    .chartBar {
        width: 15px;
        background: #263238;
        cursor: pointer;
        position: relative;
    }

    .amountValue {
        width: 30px;
        height: 15px;
        place-content: center;
        position: absolute;
        top: -20px;
        left: -8px;
        border-radius: 100vmax;
        text-align: center;
    }

}