@import "./settings.scss";

.CragsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Afacad Flux";
    align-items: center;

    .landingPage {
        width: 100%;
        background: linear-gradient(90deg, rgba(2, 25, 53, 1) 0%, rgba(134, 116, 104, 1) 100%);
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 400px;
        position: relative;
    }

    .header {
        color: white;
        font-size: 60px;
    }

    .searchbar {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: white;
        border-radius: 20px;
        height: 50px;
        position: relative;

        &.hintsActive {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        input {
            width: calc(100% - 50px);
            padding: 0 20px;
            border: none;
            outline: none;
            font-size: 20px;
            margin-left: 5px;
        }
    }

    .searchIcon {
        width: 50px;
        display: grid;
        place-content: center;
    }

    .hintsList {
        position: absolute;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        background-color: white;
        top: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 5px 10px;
    }

    .hint {
        height: 30px;
        text-decoration: none;
        color: black;
        font-size: 18px;

        &:hover {
            cursor: pointer;
            color: blue;
        }
    }

    .Map {
        width: 100%;
        height: 100%;
        cursor: grab;

        .marker {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    .mapWrapper {
        width: 70%;
        height: 600px;
        border-radius: 10px;
        position: absolute;
        bottom: -450px;
        border: 4px solid white;
        background: white;
        overflow: hidden;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .countriesList {
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 100px 0;
    }

    .countryTab {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cragLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 50px;
        gap: 10px;
    }

    .navButton {
        background: $orange;
        color: black;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}