@import "./settings.scss";

.CragPreview {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: $sectionPaddingMobile 10px;
    align-items: center;
    font-family: "Afacad Flux";
    box-shadow: 0px -10px 15px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    justify-content: space-between;

    @include mobile-md {
        width: 100%;
        padding: 0;
        justify-content: space-evenly;
    }

    .cragHeader {
        margin: 0;
        padding-bottom: 20px;
        font-size: 20px;

        @include mobile-md {
            font-size: 24px;
        }
    }

    .sectionHeader {
        width: 100%;
        max-width: $maxPageWidth;
        margin: 0;
        text-align: center;

        @include mobile-md {
            width: 70%;
            text-align: left;
        }
    }

    .sectionContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $maxPageWidth;
        justify-content: space-between;
        height: 100%;
        gap: 50px;

        @include mobile-md {
            width: 80%;
            font-size: 35px;
            flex-direction: row;
            height: unset;
        }

        @include desktop-lg {
            width: 70%;
        }
    }

    .cragDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        position: relative;
        top: 200px;
        opacity: 0;
        justify-content: space-evenly;

        @include mobile-md {
            width: 50%;
            flex-direction: column;
            padding-bottom: 0;
            min-height: 600px;
        }
    }

    .desctiption {
        padding: 0 5px 20px 5px;
        text-align: justify;
        font-size: 14px;
        max-height: 320px;
        overflow-y: scroll;

        @include mobile-md {
            padding: 0 0 20px 0;
            text-align: center;
            font-size: 14px;
            overflow-y: unset;
        }

        @include desktop-lg {
            font-size: 16px;
        }
    }

    .imagesWrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cragImage {
        width: 33%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: $standardBorderRadius;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .button {
        text-decoration: none;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        display: grid;
        place-content: center;
        color: white;
        border-radius: $standardBorderRadius;
        background: #F7770F;
        font-size: 16px;

        @include mobile-md {
            width: 60%;
            height: 50px;
        }
    }


    .cragMapWrapper {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 50%;

        @include mobile-md {
            width: 50%;
            height: 600px;
            align-items: unset;
        }
    }

    .Map {
        width: 100%;
        height: 100%;
        cursor: grab;

        .marker {
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .controllsInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .controll {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        justify-content: center;
        padding-top: 10px;
        align-items: center;

        @include mobile-md {
            height: 25px;
            font-size: 16px;
            height: 20px;
        }
    }

    .icon {
        padding-right: 5px;
        display: none;

        @include mobile-md {
            display: block;
        }
    }
}

@keyframes slideUp {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 0px;
        opacity: 1;
    }
}