@import "./settings.scss";

.CragPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: repeat;
    align-items: center;
    position: relative;
    z-index: 1;

    .wave {
        width: 100%;
        position: absolute;
        z-index: 2;
        object-fit: cover;
        height: 700px;
    }

    .landingPage {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, rgba(2, 25, 53, 1) 0%, rgba(134, 116, 104, 1) 100%);
        justify-content: center;
        align-items: center;
        position: relative;

        @include mobile-md {
            height: 700px;
        }
    }

    .header {
        color: white;
        width: 100%;
        display: grid;
        place-content: center;
        text-align: center;
        z-index: 10;
    }

    .cargName {
        font-size: 30px;
        margin: 0;
        text-shadow: 0px 0px 20px black;

        @include mobile-md {
            font-size: 100px;
        }
    }

    .stats {
        text-shadow: 0px 0px 10px black;
    }

    .gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        position: absolute;
        align-items: center;
        bottom: -200px;
        z-index: 3;
        transform-style: preserve-3d;
        perspective: 500px;

        @include mobile-md {
            gap: 15px;
            width: 70%;
            bottom: -50px;

            &:hover .cragImage {
                transform: rotateY(25deg);
            }
        }

        @include desktop-lg {
            bottom: -150px;
        }
    }

    .cragImage {
        width: 40%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px;
        box-sizing: border-box;
        border: 5px solid white;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        transform-style: preserve-3d;
        perspective: 500px;
        transition: 0.5s;

        @include mobile-md {
            width: calc(25% - 15px);

            &:hover~.cragImage {
                transform: rotateY(-25deg);
            }

            &:hover {
                transform: rotateY(0deg) scale(1.2) !important;
                z-index: 1;
                box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
                border-color: $orange;
            }
        }
    }

    .mapAndDescription {
        display: flex;
        flex-direction: column;
        margin-top: 240px;
        width: calc(100% - 20px);
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;

        @include mobile-md {
            width: 70%;
            min-height: 400px;
            flex-direction: row;
            padding: 50px;
            margin-top: 200px;
            border-left: 100px solid #F7770F;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .description {
        width: 100%;
        text-align: justify;

        @include mobile-md {
            width: 55%;
            text-align: left;
        }
    }

    .Map {
        width: 100%;
        border: 2px solid #F7770F;
        margin: 20px 0;

        @include mobile-md {
            width: 40%;
            margin: 0;
            height: 300px;
        }
    }

    .cragGrades {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: $sectionPaddingMobile 20px;

        @include mobile-md {
            width: 70%;
            padding: $sectionPadding 0;
        }
    }

    .gradeAndBar {
        width: 100%;
        overflow-x: scroll;

        @include mobile-md {
            overflow-x: unset;
        }
    }

    .Chart {
        justify-content: center;

        .chartBarsWrapper {
            height: 150px;
        }
    }

    .waveImage {
        width: 100%;

        &:nth-of-type(2) {
            transform: rotate(180deg);
            position: relative;
            bottom: 2px;
        }
    }
}