.CragRoutesChart {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    padding: 20px;
    justify-content: center;


    .category {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-weight: bold;
        font-size: 25px;
    }
}