.DataComponentWrapper {
    &.loader {
        width: 100%;
        height: 100vh;
        display: flex;
        place-content: center;

        .spinner {
            width: 20%;
            animation-name: spin;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            object-fit: scale-down;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}