@import "./settings.scss";

.Footer {
    height: $footerHeightMobile;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Afacad Flux";


    @include mobile-md {
        height: $footerHeight;
    }

    .buttonsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: calc(100% - 50px);
        background: #171717;
        gap: 20px;
    }

    .button {
        width: 32px;
        height: 32px;
        padding: 8px;
        background: white;
        border-radius: 100vmax;

        @include mobile-md {
            width: 42px;
            height: 42px;
            padding: 10px;
        }
    }

    .credits {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: black;
        color: white;
        gap: 10px;
        font-size: 14px;
    }

    .left {
        font-weight: bold;
    }

    .left,
    .right {
        text-align: center;
    }
}