@import "./settings.scss";

.Homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

    .header {
        width: 100%;
        height: 100vh;
        color: white;
        font-family: "Afacad Flux";
    }

    .sectionHeader {
        font-size: $headerFontSizeMobile;
        margin: 0;

        @include mobile-md {
            font-size: $headerFontSize;
        }
    }

    .titleText {
        text-transform: uppercase;
        margin: 0;
        font-size: 30px;
        text-align: center;

        @include mobile-md {
            font-size: 45px;
            text-align: left;
        }
    }

    .headerText {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;

        @include mobile-md {
            height: unset;
            width: unset;
            align-items: flex-start;
            padding-left: 100px;
            padding-top: 100px;
        }
    }

    .logo {
        width: 60%;

        @include mobile-md {
            width: 300px;
        }
    }

    .mainBackgorund {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}