.Homepage {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 100%;
        height: 100vh;
        color: white;
    }

    .headerText {
        padding-left: 100px;
        padding-top: 100px;
    }

    .logo {
        width: 300px;
    }

    .mainBackgorund {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}