$cardWidth: 218px;
$cardWidthSmall: 180px;
$gap: 50px;
$top: 60px;


///////////////////////////////////// left 1

@mixin firstLeftOnStack($cardSize) {
    left: calc(50% - ($cardSize * 0.5));
    transform: rotate(0deg);
    top: 0;
}

@mixin firstLeftUnfolded($cardSize) {
    top: $top;
    left: calc(50% - ($cardSize * 2) - ($gap * 1.5));
    transform: rotate(-15deg);
}

///////////////////////////////////// left 2

@mixin secondLeftOnStack($cardSize) {
    left: calc(50% - ($cardSize * 0.5));
    transform: rotate(0deg);
}

@mixin secondLeftUnfolded($cardSize) {
    left: calc(50% - ($cardSize * 1) - ($gap * 0.5));
    transform: rotate(-5deg);
}

///////////////////////////////////// right 1

@mixin firstRightOnStack($cardSize) {
    right: calc(50% - ($cardSize * 0.5));
    transform: rotate(0deg);
}

@mixin firstRightUnfolded($cardSize) {
    right: calc(50% - ($cardSize * 1) - ($gap * 0.5));
    transform: rotate(5deg);
}

///////////////////////////////////// right 2

@mixin secondRightOnStack($cardSize) {
    right: calc(50% - ($cardSize * 0.5));
    transform: rotate(0deg);
    top: 0;
}

@mixin secondRightUnfolded($cardSize) {
    right: calc(50% - ($cardSize * 2) - ($gap * 1.5));
    transform: rotate(15deg);
    top: $top;
}