$cardWidth: 218px;
$cardWidthSmall: 180px;
$gap: 50px;

@keyframes reveal_1 {
    0% {
        left: calc(50% - ($cardWidthSmall * 0.5));
        transform: rotate(0deg);
        top: 0;
    }

    100% {
        top: 100px;
        left: calc(50% - ($cardWidthSmall * 2) - ($gap * 1.5));
        transform: rotate(-15deg);
    }
}

@keyframes reveal_1_lg {
    0% {
        left: calc(50% - ($cardWidth * 0.5));
        transform: rotate(0deg);
        top: 0;
    }

    100% {
        top: 100px;
        left: calc(50% - ($cardWidth * 2) - ($gap * 1.5));
        transform: rotate(-15deg);
    }
}

@keyframes reveal_2 {
    0% {
        left: calc(50% - ($cardWidthSmall * 0.5));
        transform: rotate(0deg);
    }

    100% {
        left: calc(50% - ($cardWidthSmall * 1) - ($gap * 0.5));
        transform: rotate(-5deg);
    }
}

@keyframes reveal_2_lg {
    0% {
        left: calc(50% - ($cardWidth * 0.5));
        transform: rotate(0deg);
    }

    100% {
        left: calc(50% - ($cardWidth * 1) - ($gap * 0.5));
        transform: rotate(-5deg);
    }
}

@keyframes reveal_3 {
    0% {
        right: calc(50% - ($cardWidthSmall * 0.5));
        transform: rotate(0deg);
    }

    100% {
        right: calc(50% - ($cardWidthSmall * 1) - ($gap * 0.5));
        transform: rotate(5deg);
    }
}

@keyframes reveal_3_lg {
    0% {
        right: calc(50% - ($cardWidth * 0.5));
        transform: rotate(0deg);
    }

    100% {
        right: calc(50% - ($cardWidth * 1) - ($gap * 0.5));
        transform: rotate(5deg);
    }
}

@keyframes reveal_4 {
    0% {
        right: calc(50% - ($cardWidthSmall * 0.5));
        transform: rotate(0deg);
        top: 0;
    }

    100% {
        right: calc(50% - ($cardWidthSmall * 2) - ($gap * 1.5));
        transform: rotate(15deg);
        top: 100px;
    }
}

@keyframes reveal_4_lg {
    0% {
        right: calc(50% - ($cardWidth * 0.5));
        transform: rotate(0deg);
        top: 0;
    }

    100% {
        right: calc(50% - ($cardWidth * 2) - ($gap * 1.5));
        transform: rotate(15deg);
        top: 100px;
    }
}