@import "./settings.scss";

.List {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;

    @include mobile-md {
        padding: 100px 10%;
    }

    @include desktop-lg {
        padding: 100px 15%;
    }

    &.detailed {
        .cragsWrapper {
            align-items: center;
        }
    }

    .listViewControll {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: 18px;
        padding-bottom: 20px;
        flex-wrap: wrap;
    }

    .cragsWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .countryName {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
        height: 50px;
        animation: appearCountry 1s forwards;
    }

    .flag {
        border-radius: $smallBorderRadius;
        width: 50px;
        height: 30px;
        object-fit: none;

        animation: unblur 0.65s forwards;
    }
}

@keyframes appearCountry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}