@import "./settings.scss";

.List {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    background: #f9f9f9;

    @include mobile-md {
        width: 70%;
        padding: 100px 15%;
    }

    .listViewControll {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        font-size: 18px
    }

    .button {
        width: 100px;
        height: 40px;
        background: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;

        &:hover,
        &.active {
            border: 2px solid black;
        }
    }

    .sortByCountry {
        width: 120px;

        &:hover,
        &.active {
            border: unset;
        }
    }

    .countryName {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        font-size: 20px;
    }

    .countryTab {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .cragLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 70px;
        gap: 10px;
        background-color: white;
    }

    &.detailed {
        .cragLabel {
            width: 100%;
            min-height: 80px;
            padding: 10px;
            border-radius: 10px;
            justify-content: space-between;
        }

        .countryTab {
            padding: 20px 0;
        }
    }


    .name {
        font-size: 18px;
    }

    .image {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 20px;
    }

    .shortDescription {
        width: 60%;
    }

    .navButton {
        background: $orange;
        color: black;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }

    .flag {
        border-radius: 5px;
        width: 50px;
        height: 30px;
        object-fit: none;
    }
}