@import "./settings.scss";

.Roles {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    font-family: "Caveat";

    .title {
        font-size: 30px;
        color: white;
        text-align: center;

        @include mobile-md {
            font-size: 40px;
        }
    }

    .bgImage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        object-fit: cover;
    }

    .contentWrapper {
        width: calc(100% - 40px);
        height: 100%;
        padding: 0 20px;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile-md {
            height: calc(100% - 5vh);
            padding: 5vh 20px 0 20px;
        }
    }

    .cardsWrapper {
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: row;
        margin: 50px 0;
        position: relative;
        gap: 50px;
    }

    .carousel {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: $sectionPadding 0;
        align-items: center;
        justify-content: space-between;
    }

    .controllButton {
        &:nth-of-type(2) {
            transform: rotate(180deg);
        }
    }
}