@import "./settings.scss";

.SectorsGallery {
    width: calc(100% - 40px);
    padding: 0 20px;
    background: black;
    color: white;

    @include mobile-md {
        width: 70%;
        padding: 0 15%;
    }

    .labelsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        padding-top: 50px;
    }

    .label {
        width: 250px;
        height: 120px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            width: 350px;
        }

        @include mobile-md {
            width: 220px;
            height: 220px;
        }

        .content {
            z-index: 2;
            position: relative;
            width: calc(100% - 40px);
            height: calc(100% - 30px);
            padding: 15px 20px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            background: rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                background: rgba(107, 107, 107, 0.35);
            }
        }

        .name {
            padding: 5px 8px;
            border-radius: 10px;
            background-color: $yellow;
            color: black;
            width: fit-content;
            font-weight: bold;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;

            &:hover {
                scale: 1.1;
            }
        }
    }
}