@import "./settings.scss";

.ServiceStats {
    width: 100%;
    height: 80vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    font-family: "Afacad Flux";

    @include mobile-md {
        padding: $sectionPadding 0;
        height: 700px;
    }

    .contentwrapper {
        display: flex;
        flex-direction: row;
        width: 70%;
    }

    .statsWrapper {
        width: 100px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

        &:not(:first-child) {
            .stat {
                position: relative;
                left: -100px;
            }
        }
    }

    .bgImageWrapper {
        width: calc(100% - 200px);
        height: 500px;
        border-radius: 20px;
        overflow: hidden;
    }

    .bgImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .icon {
        background: #d5d5d5;
        padding: 6px;
        border-radius: 100vmax;
        height: 18px;
        width: 18px;

        @include mobile-md {
            padding: 10px;
            height: 36px;
            width: 36px;
        }
    }

    .stat {
        height: 60px;
        width: 200px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        gap: 20px;
        z-index: 2;
        background-color: white;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

        @include mobile-md {
            height: 80px;
        }

        &:nth-of-type(2) {
            color: white;
            background: $orange;

            .icon {
                background: white;
            }
        }
    }

    .number {
        font-size: 20px;
        font-weight: 600;

        @include mobile-md {
            font-size: 30px;
        }
    }

    .textWrapper {
        display: flex;
        flex-direction: column;
    }

    .sectionHeading {
        margin: 0;
        font-size: 22px;
        width: 70%;

        @include mobile-md {
            font-size: 35px;
        }
    }

    .mobileWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        .stat {
            width: 80%;
            box-shadow: none;
        }
    }
}