@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

@import "./keyframes.scss";

$mainBackground: #071529;
$secondaryBackground: #dc2027;
$yellow: #afff00;
$orange: #F7770F;
$orangeActive: #f79a0f;
$sectionPadding: 50px;
$sectionPaddingMobile: 20px;
$maxPageWidth: 1200px;
$footerHeight: 15vh;
$footerHeightMobile: 15vh;
$mainFontFamily: "Afacad Flux";
$headerFontSize: 35px;
$headerFontSizeMobile: 30px;
$smallBorderRadius: 5px;
$standardBorderRadius: 10px;
$largeBorderRadius: 20px;
$roundBorderRadius: 100vmax;

@mixin mobile-md {
    @media (min-width: 750px) {
        @content;
    }
}

@mixin desktop-m {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin desktop-lg {
    @media (min-width: 1160px) {
        @content;
    }
}

body {
    font-family: $mainFontFamily;

    * {
        box-sizing: border-box !important;
    }
}

.sectionHeader {
    font-size: $headerFontSizeMobile !important;
    margin: 0;

    @include mobile-md {
        font-size: $headerFontSize !important;
    }
}